---
layout: default
---

<img src="{{site.baseurl}}assets/img/Profile.jpg" alt="">

<h1 class="whitecopy">Jared DiPietro</h1>
    
        <p class="whitecopy">We'll start here with some basics. I'm 20 years old. I spent the first 3ish years of my life in Burlington, Ontario and then moved to Windsor where I have been ever since. I am the oldest of 4 siblings, 2 brothers and 2 sisters. Some of my interests include comic books, action figures, Transformers, LEGOs, video games, soccer and inline-skating. My favourite colour is blue. My favourite superheroes are Green Lantern (Hal Jordan) and Spider-man (Peter Parker).</p>
        <br>
        <p class="whitecopy"> Now for who I am. I am a follower of Christ and strive to make my life reflect that as much as possible. I try to make everything else flow from that: how I work, learn, treat my body, etc. But it begins with showing love the way He did, so that everyone knows that Jesus loves them. It's not my place to force anyone to believe, I only seek to share. We've been given these bodies, hearts, minds and spirits and so I do my best to take care of them. I struggle with that balance sometimes; I find it easy to take care of my body as I greatly enjoy physical activity and going to the gym. All in all, I know that it's a process; learning to live, love and serve. And I know that the Lord is always with me on that path.  </p>
